.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 10px;
    margin-left: 20px;
}

.post {
    margin: 5px;
}

.col-1 {
    margin-top: 10px;
    margin-left: 20px;
}

.img-profile {
    object-fit: cover;
  aspect-ratio: 1/1;
}

.img-profile-comments {
    width: 25px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 10px;
    margin-left: 20px;
}