/* Login.css */

.login-container {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
  }
  
  .login-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    background-image: url('Facebook_Logo_2023.png'); /* Facebook logo image */
    background-size: cover;
  }
  
  .login-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    font-weight: 600;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #1877f2; /* Facebook blue color */
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #166fe5; /* Darker blue on hover */
  }
  
  .login-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #65676b;
  }
  
  .login-footer a {
    color: #1877f2;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  