#light,
#light .card,
#light .search {
  background-color: #fff;
}

#dark,
#dark .card,
#dark .search {
  background-color: #3e3d3e;
}

#light .menu {
  background-color: rgb(234, 234, 234);
}

#dark .menu {
  background-color: #2b2a2b;
}