
#dark,
#dark .card,
#dark .search {
  background-color: #3e3d3e;
}

#light .menu {
  background-color: #e6e6e6;
}

#dark .menu {
  background-color: #2b2a2b;
}

#dark .social {
  filter: invert(100%);
}

