
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center; 
  padding: 50px;
}


.button-container {
  margin-left: auto;
  justify-content: right;
  margin-bottom: 10px; 
}

.content {
  text-align: center; 

}

