.likeButton:hover {
    filter: invert(50%);
    cursor: pointer;
}
.commentButton:hover {
    filter: invert(50%);
    cursor: pointer;
}
.shareButton:hover {
    filter: invert(50%);
    cursor: pointer;
}

.social {
    display: flex;
    align-items: center;
  }
  
  .likeButton,
  .commentButton,
  .shareButton {
    margin-right: 10px; /* Adjust the value to set the space between buttons */
  }
  
.share-container {
    display: flex;
    align-items: center; /* Vertically center the icons */
  }
  
  .social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    margin-right: 10px; /* Adjust the value to set the space between social icons */
  }
  .social-icons li:hover {
    transform: scale(1.5);
    margin-right: 15px;
  }
  
.whatsapp {
    padding-left: 5px;
}